{% extends "nav.html" %}
{% block title %} Login {% endblock title %}
{% block content %}
<div class="row">
  <div class="col-md-7"></div>

  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1" data-aos="fade-up">
    <br>
    <br>
    <br>
    <br>
    {% if messages %}

    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show " role="alert">
       {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    
    {% endif %}
    
 <p class="text-center h1 fw-bold text-white bg-dark form-control ">Login</p>
 <br>
 <form  method="post"> 
    {% csrf_token %}
      <div class="form-floating mb-3">
       <input type="text" class="form-control" id="floatingInput" placeholder="name" name="name">
       <label for="floatingInput">Name</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingInput" placeholder="Password" name="password">
        <label for="floatingInput">Password</label>
      </div>
<br>
<button type="submit" class="btn btn-dark text-center justify-content">Login</button>
</form>
<br>
<p class="text-gray-soft text-center small mb-2 d-flex justify-content-start">Already registered? <a href="{% url 'signup' %}"><strong class="ms-1">Sign up</strong></a></p>
<p class="text-gray-soft text-center small mb-2 d-flex justify-content-start">Forget Password?<a href="{% url 'request_reset_email' %}"><strong class="ms-1">Reset</strong></a></p>
              
                 
                  <br>
                  <br>
  
            </div>
          </div>
                
{% endblock content %}