{% extends "nav.html" %}
{% block title %}Reset Password {% endblock title %}
{% block content %}
<div class="row">
  <div class="col-md-7"></div>

  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1" data-aos="fade-up">
    <br>
    <br>
    <br>
    <br>
    {% if messages %}

    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show " role="alert">
       {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    
    {% endif %}
    
 <p class="text-center h1 fw-bold text-white bg-dark form-control ">Request a Reset link</p>
 <br>
 <form  method="post">  
    {% csrf_token %}
      <div class="form-floating mb-3">
       <input type="text" class="form-control" id="floatingInput" placeholder="name" name="email">
       <label for="floatingInput">Email</label>
      </div>

<br>
<button type="submit" class="btn btn-dark text-center justify-content">Submit</button>
</form>
<br>
<p class="text-gray-soft text-center small mb-2 d-flex justify-content-start">Go back <a href="{% url 'login' %}"><strong class="ms-1">Login</strong></a></p>
              
                 
                  <br>
                  <br>
  
            </div>
          </div>
                
{% endblock content %}